In [1]:
import numpy as np
import pandas as pd
import itertools
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.metrics import accuracy_score, confusion_matrix

In [92]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [4]:
df = pd.read_csv('/content/gdrive/My Drive/Projects/news.csv')
df.head()

   Unnamed: 0  ... label
0        8476  ...  FAKE
1       10294  ...  FAKE
2        3608  ...  REAL
3       10142  ...  FAKE
4         875  ...  REAL

[5 rows x 4 columns]

In [6]:
df.shape # So there are 6335 records with 4 columns each

(6335, 4)

In [9]:
#Getting the labels as it is a classification example
labels = df.label
labels.head()

0    FAKE
1    FAKE
2    REAL
3    FAKE
4    REAL
Name: label, dtype: object

In [10]:
# 1) Splitting into train and test
train_x, test_x, train_y, test_y = train_test_split(df['text'], labels, test_size = 0.2, random_state = 7) #random state = 7 means every run of the model with value of 7 
# will/should always output the same results (seeding will be same)

In [14]:
# 2) TfidfVectorizer

tfidf_vectorizer = TfidfVectorizer(stop_words='english', max_df=0.7)  # this removes all the stop words and words that occur in more than 70% of the documents

tfidf_train = tfidf_vectorizer.fit_transform(train_x)
tfidf_test = tfidf_vectorizer.transform(test_x)

# we use fit and transform on train dataset so that we can find the fit that is which value to use in place of NaN e.g mean and transform the dataset to replace Nans 
# with this mean value
# whereas in test dataset we don't need to calculate the mean value i.e. we will use the fit calculated for train.

In [134]:
# 3) Passive Aggressive Classifier (Model)

pac = PassiveAggressiveClassifier(max_iter=150)
pac.fit(tfidf_train, train_y) #fit

#predict
ypred = pac.predict(tfidf_test)

In [135]:
# 4) Evaluation

# accuracy
score = accuracy_score(test_y, ypred)
print(f'Accuracy: {round(score*100,2)}%')

Accuracy: 93.05%

In [115]:
# confusion matrix
confusion_matrix(test_y,ypred, labels=['FAKE','REAL'])

array([[588,  50],
       [ 41, 588]])